{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-md-6 offset-md-3 id=CMAT">

    {% if user.is_authenticated %}

    <h1>Welcome to Calgary Music</h1>

    {% else %}


<h1> Login to Calgary Music Admin Panel</h1>
<br/>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}

    <form>
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
          <input type="text" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Username" required>
          <!-- <div name="username" id="uswername" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>

        <!-- Unwanted checkbox -->
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</form>

</div>

{% endif %}

{% endblock %}